<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUGUYA</title>
</head>

<script type="text/javascript" src="/nuguya/js/nuguyaMenu.js"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    window.onload = function () {
        bindObjectEvt();
    }
</script>
<body>

<div style="margin-left: auto; margin-right: auto; width: 65%;">
    <h1>누구야 관리 페이지</h1>
</div>

<p style="margin-left: auto; margin-right: auto; width: 65%;">
    게시글 작성: <input type="button" name="pageWritingBtn" id="pageWritingBtn" value="게시글 작성 페이지 이동">
</p>

<p style="margin-left: auto; margin-right: auto; width: 65%;">
    모자이크 게임 게시글 : <input type="button" name="mozaWritingBtn" id="mozaWritingBtn" value="모자이크 게임 리스트">
</p>

</body>
</html>