<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUGUYA</title>
</head>

<script type="text/javascript" src="/nuguya/js/writingUpdate.js"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    function init(){
        var writingDivCd = [[${writing.writingDivCd}]];
        if (writingDivCd == "10") {
            $("div[name=writingRegDivCd]").hide();
            $("div[name=writingRegDivCd]").find("input, select, button, textarea").prop("disabled", true);

            $("#writingRegDivCd10").show();
            $("#writingRegDivCd10").find("input, select, button, textarea").prop("disabled", false);
        } else if(writingDivCd == "40"){
            $("div[name=writingRegDivCd]").hide();
            $("div[name=writingRegDivCd]").find("input, select, button, textarea").prop("disabled", true);

            $("#writingRegDivCd40").show();
            $("#writingRegDivCd40").find("input, select, button, textarea").prop("disabled", false);
        }
    }

    window.onload = function () {
        bindObjectEvt();
        init();
    }
</script>
<body>

<div style="margin-left: auto; margin-right: auto; width: 65%;">
        <button type="button" name="menuBtn" id="menuBtn" onclick="goNuguyaMenu()">누구야 메뉴 이동</button>
    <h1 게시글번호 th:text="@{게시글번호 : } + ${writing.writingNo}"></h1>
    <h1 게시물이름 th:text="@{게시물이름 : } + ${writing.title}"></h1>
</div>

<form id="dataForm" method="POST" enctype="multipart/form-data">

    <input type="hidden" name="writingNo" th:value="${writing.writingNo}" />
    <input type="hidden" name="writingDivCd" th:value="${writing.writingDivCd}" checked="checked">

    <div style="margin-left: auto; margin-right: auto; width: 65%;">
        <input name="addBtn" type="button" value="이미지 추가" onclick="addImgFile()">
        <button type="button" name="submitBtn" id="submitBtn" onclick="updateWritingDtl()">사진 업로드</button>
    </div>

    <div id="writingRegDivCd10" name="writingRegDivCd" style="margin-left: auto; margin-right: auto; width: 65%;">

        <p>
            이미지: <input type="file" name="oriImgFile" style="width:200px">
            정답: <input type="text" name="answer" style="width:200px">
        </p>

    </div>

    <div id="writingRegDivCd40" name="writingRegDivCd" style="display:none; margin-left: auto; margin-right: auto; width: 65%;" >

        <p>
            이미지: <input type="file" name="oriImgFile" style="width:200px">
            정답: <input type="text" name="answer" style="width:200px">
        </p>

    </div>

</form>

<table style="margin-left: auto; margin-right: auto; width: 65%;">

    <h1 style="margin-left: auto; margin-right: auto; width: 65%;">게시글 삭제</h1>

    <tr>
        <th>정답</th>
        <th>이미지 경로</th>
        <th>이미지</th>
    </tr>
    <tr th:each="writingDtl : ${writingDtlList}" style="cursor:pointer;" th:id="${writingDtl.writingSeq}">
        <td th:text="${writingDtl.answer}" ></td>
        <td th:text="${writingDtl.oriImgPath1}" ></td>
        <td> <img th:src="${reqServerUrl}+${writingDtl.oriImgPath1}" alt="이미지 준비중 입니다." width="200" height="200"/> </td>
        <td><input name="delBtn" type="button" value="삭제" th:attr="data-writingSeq=${writingDtl.writingSeq},data-writingNo=${writingDtl.writingNo}"></td>
    </tr>
</table>

</body>
</html>