<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NUGUYA</title>
    <link href="../css/style.css" type="text/css" rel="stylesheet">
</head>

<script type="text/javascript" src="../js/writing.js"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    window.onload = function () {
        bindObjectEvt();
    }
</script>

<body>

<form action="/nuguya/write" id="dataForm" method="post" enctype="multipart/form-data">

    <div style="margin-left:100px;">
        <h2>게임 유형 선택</h2>
        <input type="radio" name="writingDivCd" value="10" checked="checked">모자이크
        <input type="radio" name="writingDivCd" value="20">눈코입
        <input type="radio" name="writingDivCd" value="30">심리테스트게임
        <input type="radio" name="writingDivCd" value="40">이름 맞추기 게임
    </div>

    <div id="writingRegDivCd10" name="writingRegDivCd" style="margin-left:100px;">
        <p> 제목: <input type="text" id="title" name="title" style="width:100px"> <br></p>

        <p>
            대표이미지: <input type="file" name="titleImg" style="width:200px">
        </p>

        <!--  카테고리
        <p>
            <input type="radio" name="mainCtg" value="10" checked="checked">여자아이돌
            <input type="radio" name="mainCtg" value="20">남자아이돌
            <input type="radio" name="mainCtg" value="30">여자배우
            <input type="radio" name="mainCtg" value="40">남자배우
            <input type="radio" name="mainCtg" value="50">여자BJ
            <input type="radio" name="mainCtg" value="50">남자BJ
        </p>
        -->

        <p>
            사진 하나당 크롤링할 개수 : <input type="text" name="crawlingNum" style="width:100px"> <br>
            구글에서 가져올 이미지 키워드를 넣어주세요 <br>
            <input type="text" name="srchPrefix" style="width:50px"> : <input type="text" name="srhchKeywords" style="width:708px">
        </p>

    </div>

    <div id="writingRegDivCd20" name="writingRegDivCd" style="display:none;margin-left:100px;">

        <p> 제목: <input type="text" name="title" style="width:200px"></p>

        <p>
            대표이미지: <input type="file" name="titleImg" style="width:200px">
        </p>

        <input name="addBtn" type="button" value="이미지 추가" onclick="addImgFile()">

        <p>
            원본이미지: <input type="file" name="oriImgFile"   style="width:200px">
            합성이미지: <input type="file" name="compoImgFile" style="width:200px">
            정답: <input type="text" name="answer" style="width:200px">
        </p>

    </div>

    <div id="writingRegDivCd30" name="writingRegDivCd" style="display:none;margin-left:100px;">

        <p> 제목: <input type="text" name="title" style="width:200px"></p>

        <p>
            대표이미지: <input type="file" name="titleImg" style="width:200px">
        </p>

        <p>
            검사결과 나올 유형들을 ','로 입력해주세요<br/>
            유형 : <input type="text" name="target" id="target" style="width:600px"> <input name="addTestTypeBtn" type="button" value="유형 추가">
        </p>

        <table id="writingScoreTbl" name="writingScoreTbl" border="1">

        </table>

        </div>

    </div>

    <div id="writingRegDivCd40" name="writingRegDivCd" style="display:none;margin-left:100px;">
        <p> 제목: <input type="text" name="title" style="width:100px"> <br></p>

        <p>
            대표이미지: <input type="file" name="titleImg" style="width:200px">
        </p>

        <p>
            사진 하나당 크롤링할 개수 : <input type="text" id="crawlingNum" name="crawlingNum" style="width:100px"> <br>
            구글에서 가져올 이미지 키워드를 넣어주세요 <br>
            <input type="text" id="srchPrefix" name="srchPrefix" style="width:50px"> : <input type="text" id="srhchKeywords" name="srhchKeywords" style="width:708px">
        </p>

    </div>

    <div style="margin-left:100px;">
        <button type="submit">게시글 업로드</button>
    </div>

</form>

</body>
</html>